
p{
    text-align: center;
    font-size: 400%;
    color: maroon;
    font-family: fantasy;
    background-color: black;
}
h5{
    text-align:center;
    color:maroon;
}
img{
    width: 20%;
    margin-left:40%
}
